@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Roboto&display=swap');
*{
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.App-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
}