.task-container{
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}
/*box-shadow : x y blur spread color ตามลำดับ*/
.check{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: space-between;
    padding: 10px;
    background-color: cornsilk;
    width: 50vw;
    box-shadow: 2px 2px 2px 2px gray;
}

.task-container ul li{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.task-container ul{
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
}
.complete{
    border-right: #2ccc71 solid 5px;
}
.no{
    border-right: #FF5733 solid 5px;
}