.task-container{
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}
/*box-shadow : x y blur spread color ตามลำดับ*/
.check{
    display: flex;
    flex-direction: row;
    gap: 15px;
    justify-content: space-between;
    padding: 10px;
    background-color: cornsilk;
    width: 50vw;
    box-shadow: 5px 5px 0px 1px gray;
}

.task-container ul li{
    list-style: none;
}

.task-container ul{
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
}